#grid {
	background-image: url("/Spielplan.png");
	background-repeat: no-repeat;
	/*border-right : solid;
		border-bottom : solid;
		border-color : black;*/
}

#TicTacToe {
	max-width: 800px;
	max-height: 999px;
}

#Game {
	min-height: 400px;
	min-width: 300px;
	width: 100%;
}

#Player {
	position: relative;
	background-color: yellow;
	margin-top: 25px;
	height: 37px;
	width: 589px;
	border-style: solid;
	border-color: black;
	color: black;
}

#restartButton {
	height: 39px;
	width: 90px;
	position: absolute;
	left: 413px;
	top: 538px;
	visibility: hidden;
}

#closeButton {
	height: 39px;
	width: 90px;
	position: absolute;
	left: 513px;
	top: 538px;
	visibility: hidden;
}

#Silberplatte {
	top: 250px;
	left: 100px;
	height: 180px;
	min-width: 180px;
	position: absolute;
}

.Spielfeld {
	top: 250px;
	left: 100px;
	height: 600px;
	position: absolute;
}

.Nachwuerfeln1 {
	height: 38px;
	min-width: 38px;
	position: absolute;
	top: 335px;
	left: 224px;
}

.Nachwuerfeln2 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 335px;
	left: 264px;
}

.Nachwuerfeln3 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 335px;
	left: 304px;
}

.Nachwuerfeln4 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 335px;
	left: 344px;
}

.Nachwuerfeln5 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 335px;
	left: 384px;
}

.Nachwuerfeln6 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 335px;
	left: 424px;
}

.Nachwuerfeln7 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 335px;
	left: 464px;
}

.Zusatzwuerfeln1 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 224px;
}

.Zusatzwuerfeln2 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 264px;
}

.Zusatzwuerfeln3 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 304px;
}

.Zusatzwuerfeln4 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 344px;
}

.Zusatzwuerfeln5 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 384px;
}

.Zusatzwuerfeln6 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 424px;
}

.Zusatzwuerfeln7 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 464px;
}

#Wuerfelfeld1 {
	height: 44px;
	position: absolute;
	min-width: 44px;
	top: 267px;
	left: 117px;
}

#Wuerfelfeld2 {
	height: 44px;
	position: absolute;
	min-width: 44px;
	top: 332px;
	left: 118px;
}

#Wuerfelfeld3 {
	height: 44px;
	position: absolute;
	min-width: 44px;
	top: 397px;
	left: 117px;
}

.Rundefeld1 {
	height: 44px;
	position: absolute;
	min-width: 38px;
	top: 261px;
	left: 184px;
	visibility: hidden;
}

.Rundefeld2 {
	height: 44px;
	position: absolute;
	min-width: 38px;
	top: 261px;
	left: 241px;
	visibility: hidden;
}

.Rundefeld3 {
	height: 44px;
	position: absolute;
	min-width: 38px;
	top: 261px;
	left: 298px;
	visibility: hidden;
}

.Rundefeld4 {
	height: 44px;
	position: absolute;
	min-width: 38px;
	top: 261px;
	left: 355px;
	visibility: hidden;
}

.Rundefeld5 {
	height: 44px;
	position: absolute;
	min-width: 38px;
	top: 259px;
	left: 412px;
	visibility: hidden;
}

.Rundefeld6 {
	height: 44px;
	position: absolute;
	min-width: 38px;
	top: 256px;
	left: 469px;
	visibility: hidden;
}

.yellowfield1 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 466px;
	left: 124px;
	//+36
	px
}

.yellowfield2 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 466px;
	left: 160px;
}

.yellowfield3 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 466px;
	left: 196px;
}

.yellowfield4 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 502px;
	left: 124px;
}

.yellowfield5 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 502px;
	left: 160px;
}

.yellowfield6 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 502px;
	left: 232px;
}

.yellowfield7 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 538px;
	left: 124px;
}

.yellowfield8 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 538px;
	left: 196px;
}

.yellowfield9 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 538px;
	left: 232px;
}

.yellowfield10 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 571px;
	left: 162px;
}

.yellowfield11 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 571px;
	left: 198px;
}

.yellowfield12 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 571px;
	left: 234px;
}

.bluefield2 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 505px;
	left: 364px;
	/* Abstand oben und unten +36px*/
}

.bluefield3 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 505px;
	left: 400px;
	/* Abstand oben und unten +36px*/
}

.bluefield4 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 505px;
	left: 439px;
	/* Abstand oben und unten +36px*/
}

.bluefield5 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 541px;
	left: 328px;
	/* Abstand oben und unten +36px*/
}

.bluefield6 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 541px;
	left: 364px;
	/* Abstand oben und unten +36px*/
}

.bluefield7 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 541px;
	left: 400px;
	/* Abstand oben und unten +36px*/
}

.bluefield8 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 541px;
	left: 439px;
	/* Abstand oben und unten +36px*/
}

.bluefield9 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 577px;
	left: 328px;
	/* Abstand oben und unten +36px*/
}

.bluefield10 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 577px;
	left: 364px;
}

.bluefield11 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 577px;
	left: 400px;
}

.bluefield12 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 577px;
	left: 439px;
}

.greenfield1 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 157px;
}

.greenfield2 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 189px;
}

.greenfield3 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 221px;
}

.greenfield4 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 253px;
}

.greenfield5 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 285px;
}

.greenfield6 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 317px;
}

.greenfield7 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 349px;
}

.greenfield8 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 381px;
}

.greenfield9 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 413px;
}

.greenfield10 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 445px;
}

.greenfield11 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 673px;
	left: 477px;
}

.orangefield1 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 157px;
}

.orangefield2 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 189px;
}

.orangefield3 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 221px;
}

.orangefield4 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 253px;
}

.orangefield5 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 285px;
}

.orangefield6 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 317px;
}

.orangefield7 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 349px;
}

.orangefield8 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 381px;
}

.orangefield9 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 413px;
}

.orangefield10 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 445px;
}

.orangefield11 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 733px;
	left: 477px;
}

.purplefield1 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 157px;
}

.purplefield2 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 189px;
}

.purplefield3 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 221px;
}

.purplefield4 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 253px;
}

.purplefield5 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 285px;
}

.purplefield6 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 317px;
}

.purplefield7 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 349px;
}

.purplefield8 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 381px;
}

.purplefield9 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 413px;
}

.purplefield10 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 445px;
}

.purplefield11 {
	height: 25px;
	position: absolute;
	min-width: 25px;
	top: 793px;
	left: 477px;
}

#wuerfelfeldsilber1 {
	top: 294px;
	left: 129px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: white;
}

#wuerfelfeldsilber2 {
	top: 294px;
	left: 180px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: yellow;
}

#wuerfelfeldsilber3 {
	top: 294px;
	left: 231px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: blue;
}

#wuerfelfeldsilber4 {
	top: 353px;
	left: 129px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: orange;
}

#wuerfelfeldsilber5 {
	top: 353px;
	left: 231px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: purple;
}

#wuerfelfeldsilber6 {
	top: 353px;
	left: 180px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: green;
}

#wuerfelfeldEntscheider1 {
	top: 530px;
	left: 129px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: purple;
}

#wuerfelfeldEntscheider2 {
	top: 530px;
	left: 180px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background: blue;
}

input {
	color: black !important;
}


#wuerfelfeldwhite {
	
	top:680px;
	left:129px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background:white;
	
	
}
#wuerfelfeldyellow {
	
	top:680px;
	left:180px;
	height: 44px;
	position: absolute;
	min-width: 44px;

	background:yellow;
	
	
}
#wuerfelfeldblue {
	
	top:680px;
	left:231px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background:blue;
	
	
}
#wuerfelfeldorange {

	top:739px;
	left:129px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background:orange;
	
	
}
#wuerfelfeldgreen {
	
	top:739px;
	left:180px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background:green;
	
	
}
#wuerfelfeldpurple {
	
	top:739px;
	left:231px;
	height: 44px;
	position: absolute;
	min-width: 44px;
	background:purple;
	
	
}
/* .test{
top:768 px; 
left:117 px;	
height:61px; 
min-height:61 px; 
width:392,0 px; 
min-width:392,0px;	
background:green;	
	
	
}
 */



.greenOnClick {
top:650px; 
left:117px;		
position: absolute;
height:61px; 
min-height:61px; 
width:392px; 
min-width:392px;


	
	
	
}
.orangeOnClick {
top:728px; 
left:117px;		
position: absolute;
height:46px; 
min-height:46px; 
width:392px; 
min-width:392px;

}	
	
.purpleOnClick {
top:788px; 
left:117px;		
position: absolute;
height:46px; 
min-height:46px; 
width:392px; 
min-width:392px;

}

.Zusatzwuerfeln1 {
	height: 38px;
	position: absolute;
	min-width: 38px;
	top: 400px;
	left: 224px;
}





#buttonwurf {
	top: 435px;
	left: 100px;
	height: 44px;
	min-width: 44px;
	position: absolute;
	background: white;
}

#buttonNachwurf {
	top: 435px;
	left: 180px;
	height: 44px;
	min-width: 44px;
	position: absolute;
	background: white;
}

#buttonZusatzWuerfel {
	top: 480px;
	left: 100px;
	height: 44px;
	min-width: 44px;
	position: absolute;
	background: white;
}

#buttonSpieler2 {
	top: 250px;
	left: 325px;
	height: 44px;
	min-width: 44px;
	position: absolute;
	background: white;
}

#buttonSpieler3 {
	top: 294px;
	left: 325px;
	height: 44px;
	min-width: 44px;
	position: absolute;
	background: white;
}

#buttonSpieler4 {
	top: 338px;
	left: 325px;
	height: 44px;
	min-width: 44px;
	position: absolute;
	background: white;
}

#buttonUeberspringen {
	top: 480px;
	left: 210px;
	height: 44px;
	min-width: 44px;
	position: absolute;
	background: white;
}

#label {
	top: 590px;
	left: 100px;
	height: 44px;
	position: absolute;
	min-width: 275px;
	background: white;
	color:black;
}

#spieler2 {
	visibility: hidden;
}

#spieler3 {
	visibility: hidden;
}

#spieler4 {
	visibility: hidden;
}

#spielfeld {
	
	visibility:hidden;
}

#Lobby{
	
	height: 100%;
    width: 100%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    background-color: #696969;  
	
}
#headline{
/*	background-image: url("../Images/headline.png");*/
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: fill;
    position: absolute;
    top: 2%;
    left: 0%;
    z-index: 120;
}


.lobbyButton {
    z-index: 110;
    -moz-box-shadow: 0px 10px 21px -6px #3e7327;
    -webkit-box-shadow: 0px 10px 21px -6px #3e7327;
    box-shadow: 0px 10px 21px -6px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:3px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:7px 26px;
    text-decoration:none;
    text-shadow:0px 2px 1px #5b8a3c;


}

#button0{
    position: absolute;
    top: 70%;
    left: 25%;
    width: 15%;
}
#kiButton{
    position: absolute;
    top: 70%;
    right: 25%;
    width: 15%
}

.tg  {border-collapse:collapse;
    border-spacing:0;
    border-color:#ccc;
    border-color: white;
    border: 2px solid;
    height: 10%;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
}

td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg-s6z2{text-align:center}
.tg-baqh{text-align:center;vertical-align:top}

